<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2>Edit evaluation</h2>
<%= form_for [@student, @evaluation] do |form| %>
  <div class="box_style batch_create">
    <div class="field">
      <!-- <%= form.label :remarks %> -->
      <br>
      <%= form.text_area :remarks, class: "form-control" %>
    </div>
    <div class="field" style="display:inline-flex;" >
      <%= form.check_box :green %>
      <%= form.label :green, "Green", class: "green" %><br>
      <%= form.check_box :yellow %>
      <%= form.label :yellow, "Yellow", class: "yellow" %><br>
      <%= form.check_box :red %>
      <%= form.label :red, "Red", class: "red" %>
   </div>

    <div class="actions">
      <%= form.submit "Update", class: "btn btn-block btn-primary" %>
    </div>
  </div>
<% end %>
  </div>
</div>
