<h2><%= @student.batch.name %></h2>
<div class="row">
  <h3>Add new evaluation</h3>
  <%= render "addEvaluationForm" %>
</div>
<div class="row">
  <h2><%= @student.first_name %> <%= @student.last_name %></h2>
  <hr>
  <% @student.evaluations.each do |evaluation| %>
    <p><%= evaluation.remarks %></p>
  <% end %>
</div>
<hr>
