<!-- Button trigger modal -->
<button type="button" class="btn btn-primary add-student" data-toggle="modal" data-target="#addstudent">
Add new student
</button>

<!-- Modal -->
<%= form_for [@batch, @student] do |f|  %>
<div class="modal fade" id="addstudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new student for - <%= @batch.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body addNewStudent">

          <div class="field">
             <%= f.label :first_name %><br>
             <%= f.text_field :first_name, class: "form-control student_title" %>
          </div>
          <div class="field">
             <%= f.label :last_name %><br>
             <%= f.text_field :last_name, class: "form-control student_title" %>
          </div>
          <div class="field">
             <%= f.label :photo %><br>
             <%= f.text_field :photo, class: "form-control student_title" %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
<% end %>
