  <h1><%= @batch.name %> <span>- <%= @batch.students.length %> Students</span></h1>
  <hr>
  <%= render "addStudentForm" %>
  <div class="row">
    <% @batch.students.each do |student| %>
      <% if student.label === "Green"%>
      <p style="border:solid 1px green; padding:5px;"><%= student.first_name %> <span>- <%= student.label %></span></p>
      <% end %>
    <% end %>
  </div>

  <div class="row">
    <% @batch.students.each do |student| %>
      <% if student.label === "Red"%>
      <p style="border:solid 1px red; padding:5px;"><%= student.first_name %> <span>- <%= student.label %></span></p>
      <% end %>
    <% end %>
  </div>
