<h1><%= @batch.name %> <span>- <%= @batch.students.length %> Students</span></h1>
<hr>


<div class="row">
  <div class="progress">
    <% @batch.students.each do |student| %>

    <% end %>
  </div>
</div>


<div class="row">
<%= render "addStudentForm" %>
</div>
<br>
<div class="row">
  <% @batch.students.each do |student| %>
  <div class="col-md-3" style="height:200px;">
    <p><%= link_to student.first_name, batch_student_path(@batch, student),  :class => '' %></p>
    <p>Evaluations: <%= student.evaluations.length %></p>
    <% student.evaluations.last(1).each do |e|%>
      <p>Last evaluation: <%= e.remarks %></p>
      <p>Points: <%= e.points %></p>
    <% end %>
    <p> <%= link_to 'Remove Student', batch_student_path(@batch, student), method: :delete, data: { confirm: 'Are you sure?' }, :remote => false, :class => 'delete_student btn-sm btn-danger' %></p>
  </div>
  <% end %>
</div>
