<h1><%= @batch.name %> <span>- <%= @batch.students.length %> Students</span> - <span><%= render "addStudentForm" %></span></h1>
<hr>

<% green_evaluations = [] %>
<% yellow_evaluations = [] %>
<% red_evaluations = [] %>

<% @batch.students.each do |s| %>
  <% s.evaluations.last(1).each do |last_eva| %>
    <% if last_eva.yellow === true %>
      <% yellow_evaluations.push(last_eva.yellow) %>
    <% elsif last_eva.green === true %>
      <% green_evaluations.push(last_eva.green) %>
    <% else %>
      <% red_evaluations.push(last_eva.red) %>
    <% end %>
  <% end %>
<% end %>

<% @batch.students_within_this_batch %>

<div class="row">
  <button type="button" class="btn btn-primary add-student" data-toggle="modal" data-target="#addNewEvaluation">
  Evaluate a student
  </button>
  <br>
  <br>
</div>

<div class="modal fade" id="addNewEvaluation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Daily evaluation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <p><% randomStudent = @batch.random_student %></p>
      <% @batch.students.each do |student| %>
          <% if student.id === randomStudent %>
            <%= "#{student.first_name} #{student.last_name}" %>
            <% @student = @batch.students.find(student.id) %>
            <% @evaluation = Evaluation.new %>
            <%= form_for [@student, @evaluation] do |f| %>
              <div class="field">
                <%= f.label :remarks %><br>
                <%= f.text_field :remarks, class: "form-control student_title" %>
              </div>
              <div class="field">
                 <%= f.label :date %><br>
                 <%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d'), class: "form-control student_title" %>
              </div>

              <div class="field" class="checkbox-inline">
                <%= f.check_box :green %>
                <%= f.label :green, "Green", class: "green" %><br>
                <%= f.check_box :yellow %>
                <%= f.label :yellow, "Yellow", class: "yellow" %><br>
                <%= f.check_box :red %>
                <%= f.label :red, "Red", class: "red" %>
             </div>
          <div class="modal-footer">
            <button type="button" onclick="javascript:window.location.reload()" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= f.submit "Save", class: "btn btn-primary", id: "evaluation" %>
            <%= f.submit "Save and next student", class: "btn btn-primary", name: "save_next" %>
          </div>
              <% end %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>


<% g = green_evaluations.length %>
<% y = yellow_evaluations.length %>
<% r = red_evaluations.length %>

<% total = @batch.students.length %>
<% no_eva = (total - g - y - r) %>

<% green_procent = (g.fdiv(total)) * 100 %>
<% yellow_procent = (y.fdiv(total)) * 100 %>
<% red_procent = (r.fdiv(total)) * 100 %>
<% no_eva_procent = (no_eva.fdiv(total)) * 100 %>

<div class="row">
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-animated" style="width:<%= green_procent %>%"></div>
    <div class="progress-bar progress-bar-warning progress-bar-animated" style="width:<%= yellow_procent %>%"></div>
    <div class="progress-bar progress-bar-danger progress-bar-animated" style="width:<%= red_procent %>%"></div>
    <div class="progress-bar progress-bar-info progress-bar-animated" style="width:<%= no_eva_procent %>%"></div>
  </div>
</div>

<br>


<div class="row">
  <% @batch.students.each do |student| %>
  <div class="col-md-3">
    <div class="card" style="width: 20rem;">
      <% student_path =  link_to student.photo, batch_student_path(@batch, student) %>
      <img class="card-img-top" src="<%= student.photo %>" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title"><%= link_to student.first_name, batch_student_path(@batch, student)%></h4>
        <p>Evaluations: <%= student.evaluations.length %></p>
        <% student.evaluations.last(1).each do |e|%>
          <% if e.green === true %>
          <p style="background:#5cb85c; height: 20px;border-radius:4px;"><p>
          <% elsif e.yellow === true %>
          <p style="background:#f0ad4e; height: 20px;border-radius:4px;"></p>
          <% elsif e.red === true %>
          <p style="background:#d9534f; height: 20px;border-radius:4px;"></p>
          <% else %>
          <p style="background:lightgrey; height: 20px;border-radius:4px;"></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
